@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500;700;800&display=swap');


/* sherd styles */

* {
    font-family: 'Work Sans', sans-serif;
}

.btn-primary {
    border-radius: 8px;
    color: #fff;
    font-size: 1.25rem;
    background: #FF5400;
    padding: 16px 34px 16px 64px;
}

.form {
    border-radius: 8px;
    width: 174px;
    height: 52px;
    font-size: 1.25rem;
}


/* header style */


.img-1 {
    width: 44px;
    height: 54px;
    margin-top: 10px;
}

.item-1 {
    color: #FF5400;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: rgba(255, 144, 14, 0.10);
    padding: 50px 135px;
}




.nav-titel {
    font-size: 36px;
    font-weight: 800;
    position: relative;
    top: 35px;
}

.nav-titel-wrapper img {
    position: relative;
    bottom: 60px;
    right: 50px;
}

nav ul {
    display: flex;
}

nav li {
    list-style: none;
    margin-right: 40px;
}

.home{
    color: #FF5400;
}

nav li a {
    text-decoration: none;
    color: #424247;
}

.banner {
    background: linear-gradient(180deg, rgba(19, 19, 24, 0.8)0%, rgba(19, 19, 24, 0) 100%), url(../Images/Group\ 13\ \(1\)\ \(1\).png);
    background-size: cover;
    background-position: center;
    width: 100;
    height: 500px;
    border-radius: 16px;
    padding: 50px 135px;
    text-align: center;
}

.banner-cotent {
    max-width: 800px;
    /*text-align: center;*/
    margin: 0 auto;
}

.banner-titel {
    font-size: 4rem;
    font-weight: 800;
    color: #FFFF;
    margin-top: 30px;

}

.banner-description {
    font-size: 16px;
    font-weight: 400;
    color: #fff;
}

.group {
    gap: 24px;
    padding: 16px;
    border-radius: 8px;
    background-color: #ffffff4c;
}

/*  main style  */
main {
    max-width: 1440px;
    margin: 100px auto;
}

/* section-container styles */
.section-container {
    display: flex;
    align-items: center;
}

.place-titel {
    font-size: 40px;
    font-weight: 800;
    color: #131318;
}

.place-content {
    padding-left: 60px;
    padding-right: 60px;
}

.place-description {
    font-size: 16px;
    font-weight: 400;
    color: rgba(19, 19, 24, 0.7);
}

.place-img {
    width: 540px;
    height: 550px;
}

.destination {
    text-align: center;
    margin-top: 100px;
}

.place-titel-2 {
    font-size: 40px;
    font-weight: 800;
    gap: 24px;
    color: #131318;
}

.place-description-2 {
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 48px;
    color: rgba(19, 19, 24, 0.70);
}

.row {
    display: flex;
    gap: 1.25rem;
    margin-top: 24px;
    margin-left: 120px;
    gap: 24px;
}

.label {
    text-align: center;
    margin-top: 100px;
}

.place-titel-3 {
    font-size: 40px;
    font-weight: 800;
    color: #131318;
}

.place-description-3 {
    font-size: 16px;
    font-weight: 400;
    color: rgba(19, 19, 24, 0.70);
}

.card-container {
    display: flex;
    gap: 16px;
    margin-top: 48px;
    margin-left: 120px;
}

.card-container-2 {
    margin-top: 24px;
    margin-left: 370px;
}

.card {
    width: 573px;
    height: 284px;
    border: 1px solid rgba(251, 181, 99, 0.20);
    border-radius: 16ps;
    background: rgba(251, 181, 99, 0.05);
}

.card-2 {
    width: 573px;
    height: 284px;
    border-radius: 16px;
    border: 1px solid rgba(41, 206, 246, 0.20);
    background: rgba(41, 206, 246, 0.05);
}

.img-2 {
    margin-top: 32px;
    margin-left: 32px;
}

.card-titel {
    font-size: 24px;
    font-weight: 800;
    color: #131318;
    margin-left: 32px;
}

.card-stats {
    margin-left: 32px;
    margin-right: 55px;
    font-size: 1.25rem;
    font-weight: 400;
    color: #5A5A5D;
}

.form-2 {
    width: 474px;
    height: 422px;
    margin-top: 50px;
    border-radius: 16px;
    border: 1px solid #FF5400;
}

.Newsletter {
    display: flex;
    justify-content: space-around;
}

.Newsletter-pic {
    margin-top: 50px;
}

.form-titel {
    font-size: 24px;
    font-weight: 800;
    margin-top: 40px;
    margin-left: 40px;
}

.form-description {
    font-size: 16px;
    font-weight: 400;
    margin-top: 16px;
    margin-left: 40px;
}

.form-input {
    width: 393px;
    height: 52px;
    font-size: 16px;
    font-weight: 400;
    margin-left: 40px;
    border-radius: 8px;
    background: rgba(19, 19, 24, 0.05);
}

.form-btn {
    width: 393px;
    height: 52px;
    border-radius: 8px;
    background: #FF5400;
    margin-left: 40px;
    font-size: 20px;
    font-weight: 800;
    color: #fff;
}

.box-1 {
    width: 324px;
    height: 120px;
    border-radius: 16px;
    background: #FF5400;
    transform: rotate(-19.628deg);
    color: #fff;
    padding: 10px 10px;
    text-align: center;
    position: relative;
    bottom: 200px;
    left: 310px;

}

.box-1 h3 {
    font-size: 32px;
    font-weight: 800;
    margin-top: 0;

}

.box-1 p {
    font-size: 24px;
    font-weight: 400;
    margin-bottom: 0;
}

footer {
    /* width: 1590px;
    height: 502px;*/
    background: rgba(19, 19, 24, 0.05);
    align-items: center;
    padding: 50px 135px;


}

.footer-column {
    text-align: center;

}

.footer-titel {
    font-size: 32px;
    font-weight: 800;
}

.footer-titel-wrapper img {
    width: 40px;
    height: 46px;
    position: relative;
    bottom: 72px;
    right: 120px;

}

.footer-description {
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
}

.footer-column-icon {
    margin-left: 20px;
    margin-bottom: 50px;
}

.footer-end{
    font-size: 16px;
    font-weight: 300;
    color: #131318;
    margin-top: 50px;
}





/* responsive styles */

@media screen and (max-width: 676px) {
    nav {
        padding: 20px;
        flex-direction: column;
    }

    nav ul {
        display: none;

    }

    .banner {
        width: 335px;
        height: 483px;
        margin-left: 20px;
        padding: 0;
    }

    .banner-titel {
        font-size: 20px;


    }

    .banner-description {
        font-size: 14px;
    }

    .group {
        width: 287px;
        gap: 16px;
        padding: 16px;
        margin-left: 10px;
    }

    .form,
    .btn-primary {
        width: 255px;
        height: 52px;
        margin-top: 16px;
        gap: 16px;
    }

    .section-container,
    .place-img {
        flex-direction: column;
        gap: 20px;
    }


    .place-titel {
        font-size: 20px;
        font-weight: 800;

    }

    .place-content {
        padding-left: 5px;
        padding-right: 5px;
    }


    .place-img {
        width: 335px;
        height: 342px;
    }

    .place-titel-2 {
        font-size: 20px;

    }

    .place-description-2 {
        font-size: 14px;
    }

    .row {
        flex-direction: column;
        width: 335px;
        margin-left: 25px;
    }

    .card-container {
        flex-direction: column;
        margin-left: 20px;
    }

    .card,
    .card-2 {
        width: 335px;
        height: 288px;

    }

    .card-titel {
        font-size: 20px;
    }

    .card-stats {
        font-size: 14px;

    }

    .card-container-2 {
        margin-left: 20px;
    }

    .label {
        font-size: 20px;
    }


    .place-description-3 {
        font-size: 14px;
    }

    .Newsletter {
        flex-direction: column;
    }

    .form-2 {
        width: 335px;
        height: 353;
        margin-left: 20px;

    }

    .form-titel {
        font-size: 20px;
    }

    .form-description {
        font-size: 14px;
    }

    .form-input,
    .form-btn {
        width: 288px;
        height: 52px;
        margin-left: 20px;
    }

    .Newsletter-pic img {
        width: 335px;
        height: 300px;
        margin-left: 20px;
    }

    .box-1 {
        width: 214px;
        height: 79px;
        position: relative;
        left: 100px;
        bottom: 145px;
    }

    .box-1 p {
        font-size: 15px;
    }

    .box-1 h3 {
        font-size: 21px;
    }

    .footer-titel{
        font-size: 21px;
       
    }

    footer{
        padding: 20px;
    }

    .footer-titel-wrapper img{
        width: 28px;
        height: 33px;
        position: relative;
        margin-top: 24px;
        margin-left: 70px;
    }

    .footer-description{
        font-size: 14px;
       /* width: 287px;*/
    }







}